/* ----------------------------------- général ----------------------------------- */
.btn-menu {
	border: 1px solid #1F2D46;
	width: 200px;
	height: 50px;
	color: #1F2D46;
	background-color: white;
	border-radius: 20px;
	margin: 50px 10px;
}

.btn-log, .btn-modif {
	border: 1px solid #1F2D46;
	width: 200px;
	height: 50px;
	margin: 0 10px ;
	background-color: #1F2D46;
	border-radius: 20px;
	color: white;
	text-decoration: none;
}

section {
	padding: 30px;
}


/* ----------------------------------- index ----------------------------------- */

#section-index{
	margin-top: 50px;
}

#container-index, #container-backoffice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-wrap: wrap-reverse;
	flex-direction: row;
}

#left-index, #left-backoffice {
	width: 50%;
	height: auto;
	padding: 50px;
}

#first-txt-index, #first-txt-backoffice {
	border: dashed;
	/*60% de base*/
	width: auto; 
	height: auto;
	text-align: center;
	padding: 10px;
	margin-bottom: 10%;
}

#right-index, #right-backoffice {
	width: auto;
	height: auto;
}

@media (max-width : 1149px) {
	#left-index, #left-backoffice {
		width: 100%;
		height: auto;
		padding: 0;
	}
	#left-index p, #left-backoffice p {
		margin: 0;
	}
	#first-txt-index, #first-txt-backoffice {
		width: auto;
	}
	#left-index h1, #left-backoffice h1 {
		margin: 30px 0;
	}
	#last-txt-index, #last-txt-index {
		width: 100%;
		height: auto;
	}
	#right-index, #right-backoffice {
		padding-bottom: 25px;
	}
	#right-index img {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 505px) {
	.btn-menu, .btn-log, .btn-modif {
		margin: 50px 25%;
	}
	.btn-log, .btn-modif {
		margin: 0 25%;
	}
}

@media (max-width: 320px) {
	.btn-menu, .btn-log, .btn-modif {
		margin: 50px 16%;
	}
	.btn-log, .btn-modif {
		margin: 0 16%;
	}
}

@media (max-width: 375px) {
	.btn-menu, .btn-log, .btn-modif {
		margin: 50px 19%;
	}
	.btn-log, .btn-modif {
		margin: 0 19%;
	}
}


/* ----------------------------------- backoffice ----------------------------------- */

#section-login-backoffice{
	margin-top: 50px;
}

#backoffice-nav{
	padding-bottom: 70px;
}

#menu-nav{
	position: absolute;
	text-align: center;
	top: 110px;
}

#menu-nav a{
	text-decoration: none;
	display: inline-block;
	margin: 0 15px;
	color: white;
	font-size: 16px;
}

#menu-nav a:hover{
	text-decoration: underline;
}

#bo_texte_accueil {
	width: 100%;
	min-height: 130px;
}

#texte-backoffice {
	text-align: center;
}

#section-backoffice{
	margin-top: 70px;
}

#section-backoffice .btn-modif{
	margin-top: 25px;
}

/* ----------------------------------- backoffice products/students ----------------------------------- */

#components-consultation h2 {
text-align: center;
color: #1F2D46;
margin-top: 30px;
}

#components-consultation #hr {
border-top: 1px solid grey;
width: 200px;
margin: 0 auto 40px !important;
}

#components-consultation h3{
width: 70%;
margin: 50px auto 20px;
color: #1F2D46;
}

#components-consultation h3 a{
color: grey;
text-decoration: none;
}

#components-consultation h3 a:hover{
color: #f2ca4b;
}

#components-consultation td{
text-align: center;
position: relative;
}

#components-consultation td p{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.btn-table{
width: 125px;
margin-left: 10px;
margin-right: 10px;
}

@media (max-width: 890px){
.btn-table{
margin: 10px 0;
}
}

.btn-modif-product{
color: #1F2D46 !important;
border: 2px solid #1F2D46 !important;
}

.btn-delete-product,.btn-disable-product{
color: #1F2D46 !important;
border: 2px solid #f2ca4b !important;
}

.btn-modif-product:hover{
color: white !important;
background-color: #1F2D46;
}

 .btn-disable-product:hover {
color: white !important;
background-color: #f2ca4b;
}

.btn-delete-product:hover {
color: white !important;
background-color: #dc3546;
border-color: #dc3546 !important;
}

.btn-modal{
float: right;
margin-top: 20px;
}


/* ----------------------------------- login ----------------------------------- */
#section-register{
	margin-top: 50px;
}

#container-login, #conteneur-login-backoffice, #container-register {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 130px;
	row-gap: 50px;
	flex-wrap: wrap;
}

#box-reg {
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	width: 700px;
	height: 600px;
	text-align: center;
	padding: 75px;
	margin: 30px;
	background-color: white;
}

/*#box-reg:hover {
	transform: scale(1.05,1.05);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}*/

#box-reg p {
	margin: 60px 0;
}

#box-reg button {
	width: 340px;
	height: 65px;
	border-radius: 20px;
	border: 1px solid #1F2D46;
}

#box-reg button:hover {
	/*font-size: 20px;*/
	transform: scale(1.05,1.05);
}

#box-reg a{
	color: #1F2D46;
	text-decoration: none;
}

#form-login, #form-login-backoffice, #form-regis {
	width: 450px;
	height: auto;
	text-align: center;
}

#form-connect input, #form-regis input {
	height: 50px;
	width: 100%;
	border-radius: 20px;
	border: 1px solid grey;
	background-color: white;
	margin-top: 25px;
	padding-left: 15px;
}


#form-connect, #form-regis {
	margin-top: 20px;
}

#form-connect .btn-log, #form-regis .btn-reg {
	margin-top: 60px;
	width: 340px;
	height: 65px;
	background-color: #1F2D46 !important;
	color: white;
}

#section-register h2 {
	text-align: center;
}

#section-register #hr {
	border-top: 1px solid grey;
	width: 200px;
	margin: 0 auto;
}

hr {
	margin: 1rem 20px !important;
}

@media (max-width: 554px) {
	#box-reg {
		width: 100%;
		height: 100%;
		padding: 25px;
		margin: 0;
	}
	#form-connect, #form-regis {
		margin-top: 0;
	}
	#form-connect .btn-log, #form-regis .btn-reg {
		margin-top: 50px;
		width: 75%;
	}
	#box-reg button, #box-reg img, #box-ref button, #box-ref img {
		width: 100%;
	}
	#form-login input, #form-regis input, #form-login-backoffice input {
		width: 100%;
	}
}

/* ----------------------------------- nav ----------------------------------- */
nav {
	background-color: #1F2D46;
	color: white;
	text-align: center;
	padding: 10px;
}

nav span {
	font-size: 40px;
	vertical-align: middle;
}

#conteneur-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

#titre-nav {
	text-align: center;
	margin: 0 auto;
}

#login-nav a{
	width: 230px;
	color: white;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 900px){
	#login-nav a{
		position: initial;
	}

	#login-nav p{
		margin: 0;
	}
}

@media (max-width: 554px) {
	#conteneur-nav {
		justify-content: center;
	}
}
